<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <timestamp key="byDate" datePattern="yyyy_MM_dd-HH.mm.ss"/>

    <property name="pattern" value="[%thread/%level]: [%class{0}] %msg%n"/>
    <property name="logDir" value="${user.home}/.papervision/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Reject errors on stdout -->
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Accept only errors -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- archivo con timestamp -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/papervision-${byDate}.log</file>
        <append>false</append>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
